nav {
  background-color: #007bff;
  padding: 25px;
  margin: 15px;
  border-radius: 5px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  transition: background-color 0.3s ease;
}

nav li:hover {
  background-color: #0056b3;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.MuiTextField-root {
  margin-bottom: 10px;
  width: 300px;
}

.MuiButton-root {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.MuiButton-root:hover {
  background-color: #0056b3;
}
