
body{
  background-image: url("https://e0.pxfuel.com/wallpapers/522/971/desktop-wallpaper-sun-heat-fire-temperature-orange.jpg");

  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;

}